/*-----------------------USE ONLY FOR FULL WIDTH PAGES----------------*/
.container{
	width: 100%;
}

.forcefullwidth{
	width: 100%;
}
.masthead,
#news-tray,
.navbar,
hr.double-rule {
	display: none;
}

.mastfoot, #product-bar{
	width: 75%;
	margin: auto;
	margin-left: 12.5%;
}

.flatpages{
	margin-top: -30px;
}
/*-------------------------storysection-------------------------------*/
#article{
	position: relative;
	margin-top: 25px;
	text-align: justify;
}

#article .section{
	width: 65%;
	max-width: 980px;
	margin: 0 auto;
	margin-bottom: 30px;
}